.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 32px;
}

.product-list-section {
  width: 600px;
}

.purchase-header {
  width: 100%;
  margin-bottom: 16px;
}

.purchase-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-decoration: underline;
  text-underline-offset: 4px;
}
