.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faded-logo {
  width: 200px;
  opacity: 0.3;
  margin-bottom: 1rem;
}
.main-content p {
  color: #a0a0a0;
  font-size: 1rem;
}
