.page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 32px;

  align-items: center;
  justify-content: flex-start;
}

.page-content h2,
.page-content p {
  text-align: center;
}

.product-list-section {
  width: 600px;
}

.purchase-header {
  width: 100%;
  margin-bottom: 16px;
}

.purchase-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-decoration: underline;
  text-underline-offset: 4px;
}
