.sort-filter {
  width: 200px;
  margin-right: 32px;
}

.filter-title-button {
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  background-color: #fff;
  cursor: pointer;
}

.filter-title-button:hover {
  background-color: #f8f8f8;
}
